<h1>Small brain</h1>
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home<br/></a>
  <a class="nav-item nav-link" routerLink="/list" routerLinkActive="active">Ideas<br/></a>
  <a class="nav-item nav-link" routerLink="/add-idea" routerLinkActive="active">Add an idea<br/></a>
  <a class="nav-item nav-link" routerLink="/search" routerLinkActive="active">Search ideas...</a>
  <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
</nav>
<router-outlet></router-outlet>